form {
    margin: 30px;
    display: flex;
}

button {
    flex-grow: 1;
    background-color: #2a382a;
    border: 1px solid #2a382a;
    padding: 10px 0px;
    font-size: 20px;
    font-family: 'UAV-OSD-Sans-Mono';
    color: #bcbcbc;
}

button:hover {
    cursor: pointer;
    background-color: #6a776c;
}