{% load static %}
{% load django_htmx %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="Custom keyboard GBs">
        <meta name="keywords" content="keyboard, keycaps">
        {% comment %}because the linter genuinely gives me an error for not having meta tags{% endcomment %}
        <title>
            {% block title %}
                Boards
            {% endblock title %}
        </title>
        <link rel="stylesheet"
              href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css">
        <link rel="stylesheet" href="{% static "base.css" %}">
        {% block stylesheets %}
        {% endblock stylesheets %}
        <script src="{% static "htmx.min.js" %}"></script>
        {% django_htmx_script %}
    </head>
    <body hx-headers='{"x-csrftoken": "{{ csrf_token }}"}'>
        <nav>
            <a class="nav-button" href="{% url "home" %}">
                <h1>boards.wiki</h1>
            </a>
            <ul>
                <li>
                    <a href="{% url "home" %}">Browse</a>
                </li>
                <li>
                    <a href="{% url "wishlist" %}">Wishlist</a>
                </li>
                <li>
                    <a href="{% url "compose" %}">Compose</a>
                </li>
                {% if user.is_authenticated %}
                    <li>
                        <a href="{% url "profile" %}">{{ user.username }}</a>
                    </li>
                {% else %}
                    <li>
                        <a href="{% url "login" %}">Log In</a>
                    </li>
                {% endif %}
            </ul>
        </nav>
        <main>
            {% block content %}
            {% endblock content %}
        </main>
    </body>
</html>
